NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;
NET "rgb[8]" LOC = T20 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[9]" LOC = R20 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[10]" LOC = T22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[11]" LOC = T23 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[0]" LOC = N21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[1]" LOC = N22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[2]" LOC = R21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[3]" LOC = P21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[4]" LOC = R22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[5]" LOC = R23 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[6]" LOC = T24 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "rgb[7]" LOC = T25 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "hs" LOC = M22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "clr" LOC = AF10 | IOSTANDARD = LVCMOS15;
NET "up" LOC = V18 | IOSTANDARD = LVCMOS18;
NET "btn" LOC = W16 | IOSTANDARD = LVCMOS18;
NET "seg[0]" LOC = AB22 | IOSTANDARD = LVCMOS33;
NET "seg[1]" LOC = AD24 | IOSTANDARD = LVCMOS33;
NET "seg[2]" LOC = AD23 | IOSTANDARD = LVCMOS33;
NET "seg[3]" LOC = Y21 | IOSTANDARD = LVCMOS33;
NET "seg[4]" LOC = W20 | IOSTANDARD = LVCMOS33;
NET "seg[5]" LOC = AC24 | IOSTANDARD = LVCMOS33;
NET "seg[6]" LOC = AC23 | IOSTANDARD = LVCMOS33;
NET "dp" LOC = AA22 | IOSTANDARD = LVCMOS33;
NET "AN[1]" LOC = AC21 | IOSTANDARD = LVCMOS33;
NET "AN[2]" LOC = AB21 | IOSTANDARD = LVCMOS33;
NET "AN[3]" LOC = AC22 | IOSTANDARD = LVCMOS33;
NET "AN[0]" LOC = AD21 | IOSTANDARD = LVCMOS33;
NET "vs" LOC = M21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "mode" LOC = AF13 | IOSTANDARD = LVCMOS15;
NET "audio" LOC = AF25 | IOSTANDARD = LVCMOS33;
NET"kb_clk" LOC = N18 | IOSTANDARD = LVCMOS33 | PULLUP;
NET"data" LOC = M19 | IOSTANDARD = LVCMOS33 | PULLUP;